In [150]:
%%capture
!pip install pymongo pprint dateparser matplotlib pandas sklearn numpy seaborn

In [151]:
import pymongo
import pprint
import dateparser
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

%matplotlib inline

In [152]:
course_cluster_uri = "mongodb://agg-student:agg-password@cluster0-shard-00-00-jxeqq.mongodb.net:27017,cluster0-shard-00-01-jxeqq.mongodb.net:27017,cluster0-shard-00-02-jxeqq.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin"
course_client = pymongo.MongoClient(course_cluster_uri)
titanic = course_client['coursera-agg']['titanic']

In [153]:
initial_project = {
    "$project": {
        "_id": 0,
        "name": 0,
        "point_of_embarkation": 0,
        "ticket_number": 0,
        "passenger_id": 0,
        "cabin": 0,
    }
}

In [154]:
# todo - correct the age.
# *HINT* -- If the $type of "$age" is a string, set it to 0
age_correction = {"$cond":{"if":{"$eq":[{"$type": "$age"},"string"]},
                         "then":0,"else":"$age" }
}
embark_correction ={"$switch":{
            "branches":[
                {"case":{"$eq":["$point_of_embarkation","Q"]},"then": 1},
                {"case":{"$eq":["$point_of_embarkation","C"]},"then": 2},
                {"case":{"$eq":["$point_of_embarkation","S"]},"then": 3}
                       ],"default": 0}}

In [155]:
# todo - one hot encode gender_female. 1 if female, 0 if male
one_hot_female = {"$cond":{"if": {"$eq":["$gender", "female"]}, 
                           "then": 1, "else": 0}}

In [156]:
# todo - the inverse of above. 1 if male, 0 if female
one_hot_male = {"$cond":{"if": {"$eq":["$gender", "male"]}, 
                           "then": 1, "else": 0}}

In [157]:
encoding_stage = {
    "$addFields": {
        "gender_female": one_hot_female,
        "gender_male": one_hot_male,
        #"point_of_embarkation": embark_correction,
        "age": age_correction
    }
}

In [158]:
final_project = {
    "$project": {
        "gender": 0
    }
}

In [159]:
pipeline = [initial_project, encoding_stage, final_project]

In [160]:
df = pd.DataFrame.from_dict(list(titanic.aggregate(pipeline)))
df.head()

,survived,class,age,siblings_spouse,parents_children,fare_paid,gender_female,gender_male
0,0,3,0.0,0,0,8.0500,0,1
1,0,3,0.0,2,0,21.6792,0,1
2,0,1,54.0,0,0,51.8625,0,1
3,0,2,21.0,0,0,73.5000,0,1
4,1,3,17.0,4,2,7.9250,1,0

In [161]:
X = df.drop('survived', axis=1)

In [162]:
y = df['survived']

In [163]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15)

In [164]:
dtree = DecisionTreeClassifier()

In [165]:
%%capture
dtree.fit(X_train, y_train)

In [166]:
predictions = dtree.predict(X_test)

In [167]:
print(confusion_matrix(y_test, predictions))
print("\n")
print(classification_report(y_test, predictions))

[[69 12]
 [12 41]]


              precision    recall  f1-score   support

           0       0.85      0.85      0.85        81
           1       0.77      0.77      0.77        53

    accuracy                           0.82       134
   macro avg       0.81      0.81      0.81       134
weighted avg       0.82      0.82      0.82       134

In [168]:
rfc = RandomForestClassifier(n_estimators=20)

In [169]:
%%capture
rfc.fit(X_train, y_train)

In [170]:
rfc_pred = rfc.predict(X_test)

In [171]:
print(confusion_matrix(y_test, rfc_pred))
print("\n")
print(classification_report(y_test, rfc_pred, target_names=['test', 'predictions']))

[[72  9]
 [12 41]]


              precision    recall  f1-score   support

        test       0.86      0.89      0.87        81
 predictions       0.82      0.77      0.80        53

    accuracy                           0.84       134
   macro avg       0.84      0.83      0.83       134
weighted avg       0.84      0.84      0.84       134

In [172]:
iterations = 1000
dtree_avg_accuracy = 0
rfc_avg_accuracy = 0
for _ in range(iterations):
    dtree.fit(X_train, y_train)
    dtree_avg_accuracy += dtree.score(X_test, y_test)
    rfc.fit(X_train, y_train)
    rfc_avg_accuracy += rfc.score(X_test, y_test)
    
print(f"""
After {iterations} iterations:
  Single Decision Tree accuracy: {dtree_avg_accuracy / iterations}
  Random Forest accuracy:        {rfc_avg_accuracy / iterations}
  
  Lab Answer:  dtree={round(dtree_avg_accuracy / iterations, 3)}, rfc={round(rfc_avg_accuracy / iterations, 3)}
""")

After 1000 iterations:
  Single Decision Tree accuracy: 0.8363582089552213
  Random Forest accuracy:        0.8354626865671604

  Lab Answer:  dtree=0.836, rfc=0.835

In [173]:
round(dtree_avg_accuracy / iterations, 3)+round(rfc_avg_accuracy / iterations, 3)

1.6709999999999998